a {
	color: var(--semantics-links-color);
	text-decoration: underline;
	text-underline-offset: var(--primitives-space-2);
	cursor: pointer;
	border-radius: var(--primitives-corner-radius-xxs);

	&:hover {
		color: var(--semantics-links-is-hovered-color);
	}
	&:active {
		color: var(--semantics-links-is-active-color);
	}
}

*:focus-visible {
	box-shadow: 0 0 0 var(--semantics-focus-ring-center-thickness) var(--semantics-focus-ring-center-color);
	outline: var(--semantics-focus-ring-edge-thickness) double var(--semantics-focus-ring-edge-color);
}

*:focus:not(:focus-visible) {
	outline: none;
}
